<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="com.nmz.concretestatistics.mapper.BusinessDetialsMapper">

    <insert id="addBusiness" parameterType="com.nmz.concretestatistics.povo.BusinessDetials">
        insert into business_detials (business_name, pouring_position, pouring_method, quantities, number_of_vehicles,
                                      strength_grade, unit_price_of_concrete, freight, total_amount, remarks,
                                      business_date)
        values (#{business_name}, #{pouring_position}, #{pouring_method}, #{quantities}, #{number_of_vehicles},
                #{strength_grade}, #{unit_price_of_concrete}, #{freight}, #{total_amount}, #{remarks}, #{business_date})
    </insert>
    <select id="queryAll" resultType="com.nmz.concretestatistics.povo.BusinessDetials">
        select business_name,
        pouring_position,
        pouring_method,
        quantities,
        number_of_vehicles,
        strength_grade,
        unit_price_of_concrete,
        freight,
        total_amount,
        remarks,
        date_format(business_date, "%Y-%m-%d") business_date
        from business_detials
        <where>
            <if test="business_name != null and business_name != ''">
                and business_name = #{business_name}
            </if>
        </where>
    </select>
</mapper>