<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="com.nmz.concretestatistics.mapper.BusinessDetialsMapper">

    <sql id="clowns">
        business_name , pouring_position, pouring_method, quantities, number_of_vehicles,strength_grade, unit_price_of_concrete, freight, total_amount, remarks, pour_price, strength_price
    </sql>

    <insert id="addBusiness" parameterType="com.nmz.concretestatistics.povo.BusinessDetials">
        insert into business_detials (<include refid="clowns"></include>,business_date, isminflag, busid)
        values (#{business_name}, #{pouring_position}, #{pouring_method}, #{quantities}, #{number_of_vehicles},
        #{strength_grade}, #{unit_price_of_concrete}, #{freight}, #{total_amount}, #{remarks},#{pour_price},#{strength_price}, #{business_date}, #{isminflag}, #{busid})
    </insert>
    <select id="queryAll" resultType="com.nmz.concretestatistics.povo.BusinessDetials">
        select <include refid="clowns"></include>,
        date_format(business_date, "%Y-%m-%d") business_date
        from business_detials
        <where>
            <if test="business_name != null and business_name != ''">
                and business_name = #{business_name}
            </if>
            <if test="business_date != null and business_date != ''">
                and business_date = #{business_date}
            </if>
        </where>
    </select>

    <select id="getIfFloor" resultType="java.lang.String">
        select ifnull(sum(quantities),0) from business_detials where business_name = #{busName} and business_date = #{busDate} and pouring_method = #{pouring_method}
    </select>

    <update id="updateList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update business_detials
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.age!= null ">pour_price= #{item.pour_price},</if>
                <if test="item.name!= null  and item.name!= ''">unit_price_of_concrete= #{item.unit_price_of_concrete},</if>
                <if test="item.name!= null  and item.name!= ''">total_amount= #{item.total_amount},</if>
            </trim>
            where business_name= #{item.business_name} and business_date = #{busDate} and pouring_method = #{pouring_method}
        </foreach>
    </update>
    <update id="update" parameterType="businessDetials">
        update business_detials set pour_price = #{pour_price}, unit_price_of_concrete = #{unit_price_of_concrete}, total_amount = #{total_amount}, isminflag = #{isminflag} where busid = #{busid}
    </update>


    <select id="hasMin" resultType="java.lang.String">
        select count(*) from business_detials where business_name = #{busName} and business_date = #{busDate} and pouring_method = #{pouring_method} and isminflag = '1'
    </select>

    <select id="queryForUpdate" resultType="com.nmz.concretestatistics.povo.BusinessDetials">
        select <include refid="clowns"></include>,
        date_format(business_date, "%Y-%m-%d") business_date, busid
        from business_detials
        <where>
            <if test="business_name != null and business_name != ''">
                and business_name = #{business_name}
            </if>
            <if test="business_date != null and business_date != ''">
                and business_date = #{business_date}
            </if>
            <if test="business_date != null and business_date != ''">
                and pouring_method = #{pouring_method}
            </if>
        </where>
    </select>
    <select id="getMaxId" resultType="java.lang.String">
        select max(busid) from business_detials;
    </select>
</mapper>