<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="com.nmz.concretestatistics.mapper.BusinessDetialsMapper">

    <insert id="addBusiness" parameterType="com.nmz.concretestatistics.povo.BusinessDetials">
        insert into business_detials (business_name, pouring_position, pouring_method, quantities, number_of_vehicles,
                                      strength_grade, unit_price_of_convrete, freight, total_amount, remarks)
        values (#{business_name}, #{pouring_position}, #{pouring_method}, #{quantities}, #{number_of_vehicles},
                #{strength_grade}, #{unit_price_of_convrete}, #{freight}, #{total_amount}, #{remarks})
    </insert>
    <select id="queryAll" resultType="com.nmz.concretestatistics.povo.BusinessDetials">
        select * from business_detials
    </select>
</mapper>