<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="com.nmz.concretestatistics.mapper.TypeOfShippingMapper">

    <select id="querySelectQuery" resultType="com.nmz.concretestatistics.povo.TypeOfShipping">
        select DISTINCT ship_name from type_of_shipping
    </select>
    <select id="getRePrice" resultType="java.lang.Double">
        select ship_unitprice from type_of_shipping where ship_name = #{pouring_method}
    </select>

</mapper>

