<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/js/business_add.js"></script>
    <!--	引入jQuery-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="getQueryCrashLog();">
<form action = "/business/add" >
    <div>
        公司名称<input name="comp_name" type="text"/>
        <br>
        具体日期<input name="add_date" type="date"/>
        <br>
        浇筑部位<select id="pouring_position"></select>
        <button type="submit">提交</button>
    </div>
</form>
</body>
</html>