<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/js/business_add.js"></script>
    <!--	引入jQuery-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .leftspace {
            margin-left: 10px;
        }
    </style>
</head>
<body onload="getQueryCrashLog();">
<form id="business_add_fm" action = "/business/add" >
    <div>
        公司名称<input name="comp_name" type="text" class="leftspace"/>
        <br><br>
        具体日期<input name="add_date" type="date"  class="leftspace"/>
        <br><br>
        强度等级<select id="strength_grade" name="strength_grade"  class="leftspace" onchange="getGRePeice()"></select>
        参考价格<span id="greprice" name="greprice"  class="leftspace"></span> 价格调整<input type="text" id="floatprice" name="floatprice" class="leftspace"></input>
        <br><br>
        附加材料<div id="add_materials" name="add_materials" ></div>
        <br>
        浇筑部位<input name="pouring_position" type="text"  class="leftspace"/>
        <br><br>
        浇筑方式<select id="pouring_method" name="pouring_method"  class="leftspace"></select>
        浇筑价格<input type="text" id="pouring_price" name="pouring_price" class="leftspace">
        <br><br>
        工程量<input name="quantities" type="text" placeholder="工程量小于80会收保底费"  class="leftspace"/>
        <br><br>
        车数<input name="number_of_vehicles" type="text"  class="leftspace"/>
        <br><br>
        运费<input name="freight" type="text"  class="leftspace"/>
        <br><br>
        <textarea name="remarks" placeholder="备注" style="height: 151px; width: 358px;"></textarea>
        <button type="button" onclick="submitform();">提交</button>
    </div>
    <input type="hidden" name="addmaterialsvalue">
</form>
</body>
</html>