<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="/js/business_query.js"></script>
    <!--	引入jQuery-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>业务信息查询</title>
</head>
<body onload="getAllData();">
<from id="queryform">
    <div>
        公司名称<input name="comp_name" type="text"/>
        <br>
        具体日期<input name="add_date" type="date"/>
        <button type="button" onclick="getAllData()">查询</button>
    </div>
</from>
<table id="details">

</table>
<table style="margin-top: 27%;margin-left: 1.2%;">
    <tr>
        <td>
            <button onclick="pageup();">上一页</button>
        </td>
        <td>
            <button onclick="pagedown();">下一页</button>
        </td>
        <td>
            <input type="text" name="pagenumber" value="1" style="width: 24px;"/>
        </td>
        <td>
            <button onclick="getAllData();">跳转</button>
        </td>
        <td>
            <button onclick="downloadExcel()">下载为excel</button>
        </td>
    </tr>

</table>
</body>
</html>