<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<table align="center" width="100%" height="850px" border="1"  cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2" height="80">
            <h2>混凝土统计系统</h2>
        </td>
    </tr>
    <tr>
        <td width="150" align="center" valign="top">
            <h3>系统菜单</h3>
            <p>
                <a href="businessadd" target="content">添加业务</a>
            </p>
            <p>
                <a href="businessquery" target="content">查询业务</a>
            </p>
        </td>
        <td>
            <iframe  width="100%" height="100%" name="content" ></iframe>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="80">
            <h4>版权归聂明智所有</h4>
        </td>
    </tr>
</table>
</body>
</html>